/* --- Variable setup --- */
:root {
    --c-backgroundBankCard: #ededed;
    --c-font: #000;
    --c-backgroundBankCardHover: lightskyblue;
    --c-fontHover: #fff;
}

/* --- Body --- */
.bank-acc-container-top-section-title {
    font-size: 50px;
}

.bank-acc-container-body-section-image {
    font-size: 120px;
}

.bank-acc-card {
    border: none;
    background: linear-gradient(#0081f1, #c3f2ff);
}

.bank-acc-submit {}

.bank-acc-submit-btn {
    font-weight: 500;
    background-color: var(--c-backgroundBankCard);
    color: var(--c-font);
}


/* --- Animation --- */
.bank-submit-btn:hover {
    background-color: var(--c-backgroundBankCardHover);
    color: var(--c-fontHover);
}